{% extends "base.html" %}
{% block about %}
    <main class="h-100">
        <div class="container-fluid h-100">
            <div class="row h-100 center-container">

                <div id="h1_col"
                     class="col-12 col-sm-9 col-md-7 col-lg-9 col-xl-7 d-flex flex-column mx-auto align-items-center justify-content-sm-start align-self-start">
                    <h1 class="text-center mt-3 mb-0"><a class="text-white" href="{{ url_for('index') }}">Modern Spike</a>
                    </h1>


                </div>
                <div class="col-12 col-sm-9 col-md-7 col-lg-9 col-xl-7 d-flex flex-column mx-auto justify-content-center">


                    <div class="row my-1 ">
                        <div class="col-12">
                            <h2 class="text-center my-1 ">
                                About
                            </h2>
                        </div>
                    </div>
                    <div class="row my-1 ">
                        <div class="col-12">
                            <p class="lead">
                                The Modern Spike is a simple guessing game that tests your knowledge of the modern card
                                pool and helps you get familiar with the current meta by showing you cards that are
                                being played in the most successful decks.
                            </p>
                            <p class="lead">It aggregates the decklists for the last seven days of MTGO
                                tournament data for the modern format.
                            </p>
                            <p class="lead">
                                Data collected does not include 5-0 decklists from MTGO Leagues.
                            </p>
                            <p class="lead">
                                The Modern Spike features two game modes:
                            </p>
                            <p class="lead">

                                <i>Guess the card name</i> in which you are presented with the artwork of a random
                                card that appeared in one of those tournaments and four card names to choose from.
                            </p>
                            <p class="lead">

                                <i>Guess the artwork</i>
                                in which you are presented with the oracle text of a random
                                card that appeared in one of those tournaments and four artworks to choose form.
                            </p>
                            <p class="lead">
                                The app tries to give you choices that are similar to the actual answer in
                                terms of card type and subtype, converted mana cost and color.
                            </p>
                            <p class="lead">
                                Feedback, comments: <br>
                                <a class="text-warning" href="https://forms.gle/DaNmcJ8Cs6Ro6TNp6"
                                   target="_blank"
                                   rel="noreferrer">
                                    <img class="mr-1"
                                         src="{{ url_for('static' , filename='images/bootstrap-icons/chat-square-text.svg') }}"
                                         width="30px"
                                         alt="Feedback form">Feedback form
                                </a>
                            </p>
                            <p class="lead">
                                Anything else:
                                <br>
                                <a class="text-warning"
                                   href="mailto:hristo.meshinski@gmail.com">
                                    <img class="mr-1"
                                         src="{{ url_for('static' , filename='images/bootstrap-icons/envelope.svg') }}"
                                         width="30px"
                                         alt="Email">hristo.meshinski@gmail.com
                                </a>

                            </p>
                        </div>

                    </div>


                    <div class="row my-1 ">

                    </div>


                </div>
                <div class="col-12 col-sm-9 col-md-7 col-lg-9 col-xl-7 d-flex flex-column mx-auto justify-content-center">
                    <div class="row mt-auto">

                        <div class="col-12 col-lg-7  mx-auto">
                            <nav id="footer_menu" class="nav  nav-fill justify-content-between mb-2">
                                <a class="nav-item my-1 my-md-0 nav-link text-white text-center text-md-left"
                                   href="/">
                                    <img alt="Home"
                                         width="25"
                                         height="25"
                                         src="{{ url_for('static', filename='/images/bootstrap-icons/house-fill.svg') }}">

                                </a>


                                <a class="nav-item my-1 my-md-0 nav-link text-white text-center text-md-left"
                                   href="/about">

                                </a>
                                {#                                <a class="nav-item my-1 my-md-0 nav-link text-white" href="#">Link</a>#}

                                <a class="nav-item my-1 my-md-0 nav-link text-white d-flex align-items-center text-center text-md-left justify-content-center"
                                   href="https://mtgjson.com"
                                   target="_blank"
                                   rel="noreferrer">
                                    <img src="{{ url_for('static' , filename='images/logo-mtgjson-light-blue.svg') }}"
                                         width="30px"
                                         title="MTGJSON logo">
                                    <small class="mb-0 ml-1"> Powered by MTGJSON</small></a>

                            </nav>

                        </div>
                    </div>
                </div>


            </div>
            <div class="d-none" id="correct_answer">{{ correct_answer_index }}</div>
        </div>

    </main>
{% endblock %}