{% extends "base.html" %}
{% block about %}
    <main class="h-100">
        <div class="container-fluid h-100">
            <div class="row h-100 center-container">

                <div id="h1_col"
                     class="col-12 col-sm-9 col-md-7 col-lg-9 col-xl-7 d-flex flex-column mx-auto align-items-center justify-content-sm-start align-self-start">
                    <h1 class="text-center mt-1 mt-sm-3 mb-0"><a class="text-white" href="{{ url_for('index') }}">Modern
                        Spike</a>
                    </h1>


                </div>
                <div class="col-12 col-sm-9 col-md-7 col-lg-9 col-xl-7 d-flex flex-column mx-auto justify-content-center">


                    <div class="row my-1 ">
                        <div class="col-12">
                            <h2 class="text-center my-1 ">
                                About
                            </h2>
                        </div>
                    </div>
                    <div class="row my-1 ">
                        <div class="col-12">
                            <p class="lead">
                                The Modern Spike is a simple flashcard game that tests your knowledge of the Magic the
                                Gathering Modern format card pool. The app helps you get familiar with the current
                                Metagame by showing you cards that have been played in the most successful decks in the
                                last seven days.
                            </p>
                            <p class="lead">
                                It can benefit both veterans of the format by solidifying their knowledge and new
                                players by introducing them to staples of the Modern Metagame.
                            </p>
                            <p class="lead">The Modern Spike aggregates the decklists from the last week of Magic: The
                                Gathering Online
                                tournament data for the Modern format on a daily basis.
                            </p>
                            <p class="lead">
                                Data collected does not include 5-0 decklists from Magic: The Gathering Online Leagues.
                            </p>
                            <p class="lead">
                                The Modern Spike features the following game modes:
                            </p>
                            <p class="lead">

                                <i>Guess the name from the oracle text</i>
                                in which you are presented with the oracle text of a random MTG
                                card that appeared in one of those tournaments and four card names to choose form.
                            </p>

                            <p class="lead">

                                <i>Guess the art from the oracle text</i>
                                in which you are presented with the oracle text of a random MTG
                                card that appeared in one of those tournaments and four artworks to choose form.
                            </p>
                            <p class="lead">

                                <i>Guess the name from the art</i> in which you are presented with the artwork of a
                                random MTG
                                card that appeared in one of those tournaments and four card names to choose from.
                            </p>
                            <p class="lead">

                                <i>Guess the oracle text from the art</i> in which you are presented with the artwork of
                                a
                                random MTG
                                card that appeared in one of those tournaments and four different oracle texts to choose
                                from.
                            </p>

                            <p class="lead">
                                The app tries to give you choices that are similar to the actual answer in
                                terms of card type and subtype, converted mana cost and color.
                            </p>
                            <p class="lead">
                                Download the app from Google Play Store or leave a review:
                            </p>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <p class="lead">

                                        {#                                <a class="text-warning"#}
                                        {#                                   href="https://forms.gle/DaNmcJ8Cs6Ro6TNp6"#}
                                        {#                                   href="https://play.google.com/store/apps/details?id=com.modern.spike.android.app"#}
                                        {##}
                                        {#                                   target="_blank"#}
                                        {#                                   rel="noreferrer">#}
                                        {#                                    <img class="mr-1"#}
                                        {#                                         src="{{ url_for('static' , filename='images/bootstrap-icons/chat-square-text.svg') }}"#}
                                        {#                                         width="25"#}
                                        {#                                         height="25"#}
                                        {#                                         alt="Feedback form"> Rate me!#}
                                        {#                                </a>#}
                                        <a class="text-warning"
                                           href='https://play.google.com/store/apps/details?id=com.modern.spike.android.app'>
                                            <img class="img-fluid"
                                                 alt='Get it on Google Play'
                                                 src='{{ url_for('static' , filename='images/google-play-badge.png') }}'/></a>


                                    </p>
                                </div>
                            </div>

                            <p class="lead">
                                Feedback, comments: <br>
                                <a class="text-warning" href="https://forms.gle/DaNmcJ8Cs6Ro6TNp6"
                                   target="_blank"
                                   rel="noreferrer">
                                    <img class="mr-1"
                                         src="{{ url_for('static' , filename='images/bootstrap-icons/chat-square-text.svg') }}"
                                         width="30px"
                                         alt="Feedback form">Feedback form
                                </a>
                            </p>
                            <p class="lead">
                                Contact developer:
                                <br>
                                <a class="text-warning"
                                   href="mailto:jointless.inc@gmail.com">
                                    <img class="mr-1"
                                         src="{{ url_for('static' , filename='images/bootstrap-icons/envelope.svg') }}"
                                         width="30px"
                                         alt="Email">jointless.inc@gmail.com
                                </a>

                            </p>
                        </div>

                    </div>


                    <div class="row my-1 ">

                    </div>


                </div>
                <div class="col-12 col-sm-9 col-md-7 col-lg-9 col-xl-7 d-flex flex-column mx-auto justify-content-center">
                    <div class="row mt-auto">

                        <div class="col-12 col-lg-7  mx-auto">
                            <nav id="footer_menu" class="nav  nav-fill justify-content-between mb-2 mt-1">
                                <a class="nav-item my-1 my-md-0 nav-link text-white text-center text-md-left"
                                   href="/">
                                    <img alt="Home"
                                         width="25"
                                         height="25"
                                         src="{{ url_for('static', filename='/images/bootstrap-icons/house-fill.svg') }}">

                                </a>


                                <a class="nav-item my-1 my-md-0 nav-link text-white text-center text-md-left"
                                   href="/about">

                                </a>
                                {#                                <a class="nav-item my-1 my-md-0 nav-link text-white" href="#">Link</a>#}

                                <a class="nav-item my-1 my-md-0 nav-link text-white d-flex align-items-center text-center text-md-left justify-content-center"
                                   href="https://mtgjson.com"
                                   target="_blank"
                                   rel="noreferrer">
                                    <img src="{{ url_for('static' , filename='images/logo-mtgjson-light-blue.svg') }}"
                                         width="30px"
                                         title="MTGJSON logo">
                                    <small class="mb-0 ml-1"> Powered by MTGJSON</small></a>

                            </nav>

                        </div>
                    </div>
                </div>


            </div>
            <div class="d-none" id="correct_answer">{{ correct_answer_index }}</div>
        </div>

    </main>
{% endblock %}