{% extends "base.html" %}
{% block content %}

    <main class="h-100">
        <div class="container-fluid h-100">
            <div class="row h-100 center-container align-items-start">
                <div class="lds-ripple mx-auto absolute-center d-none">
                    <div></div>
                    <div></div>
                </div>
                <div id="h1_col"
                     class="col-12 col-sm-9 col-md-7 col-lg-9 col-xl-7 d-flex flex-column mx-auto align-items-center justify-content-sm-start align-self-start">
                    <h1 class="text-center my-1"><a class="text-white" href="{{ url_for('index') }}">Modern Spike</a>
                    </h1>


                    <small class="text-center my-0§ ">
                        Can you guess the card? Score:
                        <span class="d-none" id="answered_flag">0</span>
                        <span id="current_score">
                            {% if request.cookies.get('current_score') %}
                                {{ request.cookies.get('current_score') }}
                            {% else %}
                                {{ 0 }}
                            {% endif %}

                        </span>
                        /
                        <span id="total_score">
                            {% if request.cookies.get('current_score') %}
                                {{ request.cookies.get('total_score') }}
                            {% else %}
                                {{ 0 }}
                            {% endif %}
                        </span>

                    </small>
                </div>
                <div class="col-12 col-sm-7 col-md-6 col-lg-7 col-xl-7 d-flex flex-column mx-auto justify-content-center mb-auto mb-sm-0">


                    <div id="card_by_image" class="row my-1  d-none">

                        <div class="col-lg-7 col-12 mx-auto">

                            <div class="card">
                                <div class="card-header text-dark py-1 py-sm-2 d-flex align-items-center justify-content-between">
                                    Illustration
                                    <div class="oracle-btns">
                                        <a id="decklist_id_by_image" href="#"
                                           target="_blank"
                                           rel="noopener"
                                           class="btn btn-outline-dark btn-sm mr-1"
                                           role="button">Decklist</a>

                                        <button type="button"
                                                class="btn btn-sm btn-info float-right text-black ml-1"
                                                data-toggle="modal"
                                                data-target="#cardOracleText">
                                            Hint
                                        </button>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="cardOracleText" tabindex="-1" role="dialog"
                                         aria-labelledby="cardOracleTextTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header py-1">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Hint</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" id="modalOracleText">


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body text-dark p-0">

                                </div>
                                <img id="by_card_image" class="card-img-bottom"
                                     src="{{ correct_answer_image }}"
                                     alt="{{ correct_answer_flavor_text }}"
                                     title="{{ correct_answer_name }}">
                            </div>
                        </div>
                    </div>
                    <div id="oracle_text" class="row my-1 d-none">

                        <div class="col-lg-7 col-12 mx-auto ">

                            <div class="card">
                                <div class="card-header text-dark py-1 py-sm-2 d-flex align-items-center justify-content-between">
                                    Oracle text
                                    <div class="oracle-btns">
                                        <a id="decklist_id" href="#"
                                           target="_blank"
                                           rel="noopener"
                                           class="btn btn-outline-dark btn-sm mr-1"
                                           role="button">Decklist</a>

                                        <button type="button"
                                                class="btn btn-sm btn-warning float-right text-black ml-1"
                                                data-toggle="modal"
                                                data-target="#cardImage">
                                            Hint
                                        </button>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="cardImage" tabindex="-1" role="dialog"
                                         aria-labelledby="cardImageTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header py-1">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Hint</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body p-0">

                                                </div>
                                                <img loading="lazy" id="card_image" class="img-fluid card-img-bottom"
                                                     src="{{ correct_answer_image }}"
                                                     alt="{{ correct_answer_flavor_text }}"
                                                     title="{{ correct_answer_name }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body text-dark py-2">
                                    {{ correct_oracle_text_answer }}

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row my-1 ">
                        <div class="col-lg-7 col-12 mx-auto">
                            <form class="form-horizontal d-flex flex-column">


                                <div id="card_holder"
                                     class="btn-group-vertical btn-group btn-group-toggle d-flex flex-column"
                                     data-toggle="buttons">


                                    {% include "cards.html" %}


                                </div>

                                {# <button id="next_card" type="button" name="choice"
                                        class="mt-2 btn btn-info text-black d-none btn-lg d-noe">
                                    Next
                                    Card
                                </button>#}


                            </form>


                        </div>
                    </div>
                    <div class="row my-1 ">
                        <div class="col-lg-7 col-12 mx-auto d-flex justify-content-center flex-column align-items-md-center">

                            <h2 id="game_mode" class="text-center">Choose game mode</h2>
                            <div id="by_btns" class="btn-group-vertical">
                                {#                                <button type="button" class="btn btn-secondary btn-link"><a href="url_for_byimg">By#}
                                {#                                    img</a></button>#}
                                {#                                <button type="button" class="btn btn-secondary">2</button>#}

                                <a id="by_img" class="btn btn btn-info btn guess-by text-black" role="button"
                                   aria-pressed="true"
                                   href="#">
                                    Card illustration
                                </a>
                                <a id="by_text" class="btn btn btn-warning btn guess-by text-black" role="button"
                                   aria-pressed="true"
                                   href="#">
                                    Card oracle text
                                </a>
                                {#                                <button class="btn btn-sm btn-outline-light">Change mode</button>#}

                            </div>
                            <small id="change_game_mode" class="text-center d-none mt-1">
                                <a href="{{ url_for('index') }}" class="text-white">
                                    Change game mode
                                </a>
                            </small>


                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-9 col-md-7 col-lg-9 col-xl-7 d-flex flex-column mx-auto justify-content-center align-self-end">
                    <div class="row mt-auto">

                        <div class="col-lg-7 col-12 mx-auto">
                            <nav id="footer_menu" class="nav  nav-fill justify-content-between my-1">
                                <a class="nav-item my-1 my-md-0 nav-link text-white text-center text-md-left"
                                   href="/about">About</a>
                                <a class="nav-item my-1 my-md-0 nav-link text-white text-center text-md-left"
                                   rel="noopener"
                                   id="decklists_url"
                                   target="_blank"
                                   href="{{ latest_modern_tournament_url }}"> Latest deck lists</a>
                                {#                                <a class="nav-item my-1 my-md-0 nav-link text-white" href="#">Link</a>#}

                                <a class="nav-item my-1 my-md-0 nav-link text-white d-flex align-items-center text-center text-md-left justify-content-center"
                                   href="https://mtgjson.com"
                                   target="_blank"
                                   rel="noreferrer">
                                    <img src="{{ url_for('static' , filename='images/logo-mtgjson-light-blue.svg') }}"
                                         width="30px"
                                         title="MTGJSON logo">
                                    <p class="mb-0 ml-1"> Powered by MTGJSON</p></a>

                            </nav>

                        </div>
                    </div>
                </div>


            </div>
            <div class="d-none" id="correct_answer">{{ correct_answer_index }}</div>
        </div>

    </main>


{% endblock %}